@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", sans-serif; */
* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* shared stylw */
.secondary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.text-center {
  text-align: center;
}
/* header */
header {
  background: url("../assets/images/developer.png") top left no-repeat,
    url("../assets/images/header_bg.png") bottom right no-repeat;
}
/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
  padding-block: 50px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-profile-pic {
  width: 580px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section{
    margin-block: 130px;
}
/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;

}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-description {
  margin-top: -10px;
  font-weight: 600;
}

/* skills styles */

.skills-info {
  padding: 10px 150px;
}
.skills-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
/* resume styles */
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 36px;
}
.experience-title{
    font-size: 24px;
    margin-block: -10px;
}
.experience-sub-title{
    font-size: 18px;
    margin-block: 18px;
  font-weight: 600;

}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin-block: 30px;
}
.resume-btn{
    margin-top: 50px;
}
/* footer styles */
.footer-content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    padding-block: 20px;
}
.footer-column{
    width: 50%;
}
footer .socile-icon{
    display: flex;
    gap: 20px;
}
footer form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer input[type="text"], input[ type="email"], textarea{
    padding:  20px 40px;
    border: none;
    border-radius: 5px;
}
input[type="submit"]{
    align-self: flex-start;
}
